.wrapper {
  background: rgb(255 255 255 / 81%);
  border-radius: 5px;
  color: black;
  padding: 2%;
}

.filterWrapper {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  padding: 15px 2px 12px 2px;
  flex-wrap: wrap;
}

.filterItem {
  display: flex;
  align-items: center;
}

.filterItemSpan {
  padding-right: 5px;
}

.filterItem:hover {
  cursor: pointer;
  color: #4f7b8b;
}

@media screen and (max-width: 550px) {
  .filterWrapper {
    gap: 10px;
    padding: 8px 2px 12px 2px;
  }
}
