input.inputErr {
  /* background-color: #8b444470; */
  border: 2px solid #7c1818;
}

input.inputSucc {
  border: 2px solid #1a7f48; /* #1a7f2f90; */
}

.inputFeedbackMsg {
  padding-left: 20px;
}

.inputErrMsg {
  composes: inputFeedbackMsg;
  color: #c93c3c;
}

.inputSuccMsg {
  composes: inputFeedbackMsg;
  color: #1a7f48;
}
