.header {
  background-color: #000;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  padding: 0.2em 0;
  margin-bottom: 1.5em;
}

.img {
  display: block;
  max-height: 30px;
  margin: 0.5em;
}

.nav {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.nav > a {
  padding: 0 0.5em;
}
.nav > a:hover {
  color: #e4e4e4;
}
.nav > a:active,
.nav > a.active {
  /* color: #2ccbff; */
  color: #81b3c5;
}

@media screen and (max-width: 650px) {
  .header {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 420px) {
  .header {
    letter-spacing: 2px;
    margin-bottom: 0.7em;
  }
  .nav {
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
  }
  .nav > a {
    /* border-bottom: 1px solid rgba(201, 200, 200, 0.5); */
    padding: 0.2em 0;
  }
}
