.btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0;
  text-align: right;
  line-height: 1;
}

.text {
  padding-right: 0.4em;
}

.active * {
  color: #4f7b8b;
}

.btn:hover * {
  color: #4f7b8b;
  cursor: pointer;
}

.btn:active * {
  color: #365764;
}

.btn:disabled {
  /* opacity: 0.5; */
  pointer-events: none;
  cursor: not-allowed;
}
