.wrapper {
  display: flex;
  column-gap: 15px;
  row-gap: 5px;
  justify-content: flex-end;
  padding: 15px 2px 12px 2px;
  flex-wrap: wrap;
}

.filter,
.sort {
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 550px) {
  .wrapper {
    padding: 0px 2px 10px 2px;
  }
}

@media screen and (max-width: 420px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 3px 2px 10px 2px;
    font-weight: 500;
  }
}
